.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

/*
	#page - .site
		#masthead - .site-header
		.site-branding
			.site-title
			.site-description
		#site-navigation - .main-navigation
		
*/