body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.home{
    margin: 0;
    #primary{
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after{
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(22, 36, 65);
    @include media-desktop{
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 38% 100%);
    }
}

.site-branding {
    margin-bottom: 5vh;
    p{
      margin: 0px;  
    }
}

.site-title {
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 3rem);
    font-family: $font_title;
        a{
            text-decoration: none;    
        }
        
}
.site-title a:hover{
    color: #710dbe;
}

.site-description { 
    font-family: $font_title;
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color: #b86ff0;
    padding: 0;
    margin-top: 0;
}

.entry-title{ // titre des articles
    color: rgb(24, 54, 79);
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid;
}

.entry-content{ // les articles des cours
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.5rem);
    color: rgb(24, 54, 79);
    background: rgb(244, 244, 244);
    border-radius: 10px;
    p{
        margin: 5% 0 10px 0;
        font-weight: bold;
        width: 100%;
    }
    ul{
        margin: 10px 0;
        padding: 0;
        list-style-type: none;
    }

    .wp-block-image{
        align-self: center;
        margin: 0 0 0 0px;
    }
    img{
        display: block;
        border-radius: 10px;
    }

    @include media-desktop{
        flex-direction: row;
        text-align: start;
        .blocks-gallery-item figure{
            margin: 0 0 0 5%;
            width: 400px;
            height: 400px;
        }
        p{
            margin: 5%;
        }
        ul{
            margin-right: 5vh;
            width: 150px;
        }
    }// fin media-desktop

} // fin .entry-content

.article-menu{ //grosse section contenant tout les articles
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(26, 32, 52);

    h1{ // grand titre section
        font-size: clamp(1.4rem, #{"-.8rem + 6.333vw"}, 2rem);
        color:white;
        text-align: center;
        margin-bottom:0;
        margin-top: 2rem;
    }
    span{ // ligne de separation des section
        margin: 0 auto;
        width: 90%;
        border-bottom: 3px solid lightcoral;
    }

    section.bloc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 0;
        width: 100vw;

        article{ //chaque bloc
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            width: 100%;
            height: 22vh;
            background-color: rgb(28, 41, 70);
            border-radius: 10px;
            z-index: 1;
            
            p{ // infos haut & bas cellule
                font-size:clamp(.6rem, 2vw , .8rem) ;
                color: lightcoral;
            }
            a{ // lien cours
                font-size: clamp(.6rem, #{"-.5rem + 5vw"}, 1rem);
                font-weight: bold;
                color: rgb(201, 244, 244);
                text-decoration: none;
                &:hover{
                    color: rgb(38, 79, 175);
                }
            }
        }// fin article

        svg{ //vagues SVG de chaques articles 
            position:absolute;
            width: 100%;
            bottom: 0;
            border-radius: 10px;
            z-index: -1;
            fill: darkgoldenrod;
           }
        .Web{ //classe des articles par categorie
            background-color: rgb(31, 31, 31);
        }
        .Spécifique{
            background-color: rgb(49, 16, 126);
            // background-color: rgb(164, 38, 218);
        }
        .Jeu{

        }
        .Image{
            p{
                color: rgb(0, 37, 100);
            }
            background-color: rgb(225, 82, 66);
            // background-color: rgb(255, 169, 112);
        }
        .Conception{
            p{
                color: darkmagenta;
            }
            a{
                color: rgb(35, 0, 139);
            }
            background-color: rgb(252, 182, 182);
            // background-color: rgb(255, 134, 78);
        }
    }//fin section

    // Desktop
    @include media-desktop{
        section.bloc{
            margin-bottom: 10vh;
            justify-content: space-around;
        }
        section.bloc article{
            width: 40%;
            height: 30vh;


            p{ // infos haut & bas cellule
                font-size:clamp(.9rem, 2vw , 1.2rem);
                font-weight:lighter;
            }
            a{ // lien cours
                font-size: clamp(.9rem, #{"-.5rem + 6.333vw"}, 1.5rem);
                font-weight: bold;
                color: rgb(201, 244, 244);
                text-decoration: none;
                &:hover{
                    color: rgb(38, 79, 175);
                }
            }
        }
    }// fin desktop

}// fin article menu