body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.home{
    margin: 0;
    #primary{
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after{
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(22, 36, 65);
    @include media-desktop{
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 38% 100%);
    }
}

.site-branding {
    margin-bottom: 5vh;
    p{
      margin: 0px;  
    }
}

.site-title {
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 3rem);
    font-family: $font_title;
        a{
            text-decoration: none;    
        }
        
}
.site-title a:hover{
    color: #710dbe;
}

.site-description { 
    font-family: $font_title;
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    color: #b86ff0;
    padding: 0;
    margin-top: 0;
}

.entry-content{ // texte de la page scrum * remplacer par les articles des cours
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: clamp(.9rem, #{"-.8rem + 8.333vw"}, 1.5rem);
    color: rgb(44, 136, 135);
    p{
        margin: 5% 0 10px 0;
        font-weight: bold;
        width: 100%;
    }
    ul{
        margin: 10px 0;
        padding: 0;
        list-style-type: none;
    }

    .wp-block-image{
        align-self: center;
        margin: 0 0 0 0px;
    }
    img{
        display: block;
        border-radius: 10px;
    }

    @include media-desktop{
        margin-left: 20px;
        flex-direction: row;
        text-align: start;
        color: rgb(24, 54, 79);
        .blocks-gallery-item figure{
            margin: 0 0 0 5%;
            width: 400px;
            height: 400px;
        }
        p{
            margin-top: 15px;
            width: 300px;
            margin-left: 2%;
        }
        ul{
            margin-right: 5vh;
            width: 150px;
        }
    }// fin media-desktop

} // fin .entry-content

.article-menu{ //grosse section contenant tout les articles
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(26, 32, 52);

    h1{ // grand titre section
        font-size: clamp(1.4rem, #{"-.8rem + 6.333vw"}, 2rem);
        color:white;
        text-align: center;
        margin-bottom:0;
        margin-top: 2rem;
    }
    span{ // ligne de separation des section
        margin: 0 auto;
        width: 90%;
        border-bottom: 3px solid lightcoral;
    }

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem 0;

        article{ //chaque bloc
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin: 10px 0;
            width: 40%;
            height: 22vh;
            background-color: rgb(28, 41, 70);
            border-radius: 10px;
            p{ // infos haut & bas cellule
                font-size:clamp(.6rem, 2vw , .8rem) ;
                color: lightcoral;
            }
            a{ // lien cours
                font-size: clamp(.6rem, #{"-.5rem + 6.333vw"}, 1rem);
                font-weight: bold;
                color: rgb(201, 244, 244);
                text-decoration: none;
                &:hover{
                    color: rgb(38, 79, 175);
                }
            }
        }// fin article
    }//fin section

    // Desktop
    @include media-desktop{
        section{
            margin-bottom: 10vh;
        }
        section article{
            height: 30vh;

            p{ // infos haut & bas cellule
                font-size:clamp(.9rem, 2vw , 1.2rem);
                font-weight:lighter;
            }
            a{ // lien cours
                font-size: clamp(.9rem, #{"-.5rem + 6.333vw"}, 1.5rem);
                font-weight: bold;
                color: rgb(201, 244, 244);
                text-decoration: none;
                &:hover{
                    color: rgb(38, 79, 175);
                }
            }
        }
    }// fin desktop

}// fin article menu