.carrousel2{
    display: flex;
    width: 300vw;
    height: 55vh;
    transition: transform ease-out 0.5s;
    flex-wrap: nowrap;

    .slide_conteneur{
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .slide{
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: clamp(1rem, #{"-.3rem + 8.333vw"}, 2.5rem);;
            text-align: center;

            img{
                display: block;
            }

            .slide_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                p{
                    font-size: .8rem;
                }
                a{
                    font-size: 1.5rem;
                }
            }

            // image 1 slider
            &:nth-of-type(1){
                width: 100vw;
                background-image: linear-gradient(to bottom right, rgb(255, 107, 107), rgb(253, 106, 113), rgb(251, 104, 120), rgb(250, 103, 126), rgb(248, 101, 132), rgb(246, 100, 139), rgb(244, 98, 145), rgb(242, 97, 152), rgb(240, 95, 158), rgb(239, 94, 164), rgb(237, 92, 171), rgb(235, 91, 177));  
                }
            // image 2 slider
            &:nth-of-type(2){
                width: 100vw;
                }
                // image 3 slider
            &:nth-of-type(3){
                width: 100vw;
            }
            a{
                text-decoration: none;
                color: rgb(16, 22, 31);
                &:hover{
                    color: rgb(50, 205, 190);
                }
            }

        }/*fin slide*/
    } /*fin .slide_conteneur*/
} // fin carrousel2

// bouton navigation dans carrousel
.ctrl-carrousel{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

input[type="radio"]{    
    border-radius: 100px;
    width: 16px;
    height: 16px;
    margin: 4px;
    opacity: 0;
    &:hover{
        cursor: pointer;
    }
}
div{
    transition: all .2s;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin: 4px;
    background-color: #ce6ba8 !important;
    &:hover{
        background-color:  #d73d9c !important;
    }
}
}