.carrousel{
    display: flex;
    width: 300vw;
    height: 50vh;
    transition: transform 0.5s;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1rem, #{"-.3rem + 8.333vw"}, 2.5rem);;
        text-align: center;
        // image 1 slider
        &:nth-of-type(1){
            width: 100vw;
            background-color: rgb(174, 92, 255);
        }
        // image 2 slider
        &:nth-of-type(2){
            width: 100vw;
            background-color: rgb(255, 92, 255);
        }
        // image 3 slider
        &:nth-of-type(3){
            width: 100vw;
            background-color: rgb(255, 92, 133);
        }
        a{
            text-decoration: none;
            color: rgb(39, 44, 67);
            &:hover{
                color: rgb(50, 205, 190);
            }
        }
    } /*fin div*/
}

.bouton{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 0 10px 0;
}

// bouton navigation dans carrousel
#un,#deux,#trois{
    background-color: #fff;
    border-radius: 100px;
    width: 16px;
    height: 16px;
    margin: 4px;
    &:hover{
        cursor: pointer;
        background-color: rgb(57, 20, 165);
        border: 1.35px solid white;
    }
    @include media-desktop{
        background-color: #4096dd;
        border: 2px;
        &:hover{
            background-color: rgb(73, 56, 124);
            border: 2px solid rgb(48, 45, 118);
        }
    }
}