footer{ // class du footer
    width: 100vw;
    margin: 0;
    div{
        padding: 1rem 0;
        display: flex;
        background-color: rgba(11, 63, 140, 0.433);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        h3{
            font-weight: bold;
            text-decoration: none;
        }
    }
}