.main-navigation {
	display: block;
	width: 100%;
	margin-bottom: 5vh;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				margin-left: 3rem;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

#burger{
	padding: 0;
	border : 0;
	transform: rotate(0);
	transition: transform .5s;
	background: white;
	width: 10px;
	height: 10px;
}

#burger:focus{
	outline: 1px solid white;
	outline-offset: -4px;
}

#burger:active{
transform: scale(0.9);
}

.visible{
	display: block !important;
}

/* Small menu. */
#burger,
.main-navigation.toggled ul {
	display: block;



}

.main-navigation ul{
	background-color: rgb(109, 58, 160);
	@include media-desktop{
		display: flex;
		height: 2rem;
		justify-content: space-around;
		align-items: center;
		position: static;
		width: 100vw;
		
		ul{
		display:flex;
		align-items:flex-start;
		justify-content:flex-start;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
